" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

let mapleader = " "
let g:highlightedyank_highlight_color = "rgba(198, 160, 246, 100)"
let g:highlightedyank_highlight_duration = "100"

"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.
set scrolloff=10
set relativenumber
set incsearch
set hlsearch
set smartcase
set clipboard+=unnamed
set autoindent
set expandtab
set mouse=a

" Don't use Ex mode, use Q for formatting.
map Q gq

" --- IdeaVim plugins https://jb.gg/ideavim-plugins
Plug 'kana/vim-textobj-entire'
Plug 'machakann/vim-highlightedyank'
Plug 'terryma/vim-multiple-cursors'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'vim-scripts/ReplaceWithRegister'

"" -- Map IDE actions to IdeaVim -- https://jb.gg/abva4t
map <leader>lr <Action>(RenameElement)
map <leader>ld <Action>(ShowErrorDescription)
map <leader>la <Action>(ShowIntentionActions)
map ]d <Action>(GotoNextError)
map [d <Action>(GotoPreviousError)
map ]b <Action>(NextTab)
map [b <Action>(PreviousTab)
map <leader>ff <Action>(GotoFile)
map <leader>fw <Action>(FindInPath)
